@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

#heading {
  color: crimson;
  text-align: center;
  font-size: 50px;
}

.del {
  float: right;
}

.im-fell-dw-pica-sc-regular {
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    font-style: normal;
  }
